.header{
    width: 100%;
    padding:16px 0px;
}
.head-content{
    display: flex;
    justify-items: center;
}
.container {
width: 800px;
margin: 0 auto;
}
.inlinecontent {
display: flex;
align-items: center;
justify-content: space-between;
}
li{
    font-weight: 700;
    color: #4c4c4c;
margin: 7px 7px;
list-style: none;
}
.sidepannel{
    width: 25%;
}
.middlebar{
    width: 50%;
}
.dic{
    text-decoration: underline;
    font-size:15px;
    font-weight: lighter;
    text-transform: uppercase;
    font-style:italic;
}
.sidebar{
    width: 33.33%;
    margin: 0px 2.5px;
    text-align:left;
    display: flex;
}
.hello{
    font-size: 18px;letter-spacing:1.5px;
    color: #4c4c4c;
    font-weight: 300;
    margin-left: 5%;
    font-family: AdobeGaramondPro, serif;
}
.tfive{
    width: 25%;
    margin:35px 15px;
}
.scroll{
    overflow: auto;
    white-space: nowrap;
    opacity: 0.6;
}
.micky{
    margin: 5% 5%;
    margin-top: 0%;
}