.header{
    width: 100%;
    padding:16px 0px;
}
.head-content{
    display: flex;
    justify-items: center;
}
.container {
width: 800px;
margin: 0 auto;
}
.inlinecontent {
display: flex;
align-items: center;
justify-content: space-between;
}
li{
    font-weight: 700;
    color: #4c4c4c;
margin: 7px 7px;
list-style: none;
}
.sidepannel{
    width: 25%;
}
.middlebar{
    width: 50%;
}
